<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="DRE.Common.Host.Contracts.IIISUrlRewriteRules, DRE.Common.Host" mapTo="DRE.Host.IISRewriteRules, DRE.Host" />
    <register type="DRE.Common.Host.Contracts.IASPXRoutingRules, DRE.Common.Host" mapTo="DRE.Host.ASPXRoutingRules, DRE.Host" />
  </container>
</unity>